*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 
                Arial, "Noto Sans", sans-serif;
}
header{
    background-color:#2464FF;
    height: 100px;
    color:white;
    text-align: center;
}
h1{
    padding: 20px;
}

p{
    margin-top: 20px;
    margin-left: 250px;

}

form {
  display: flex;
  align-items: center;
  margin-left: 250px;
  margin-top: 20px;
}

input,
.search-btn {
    height: 40px;             /* SAME HEIGHT */
    padding: 0 12px;          /* Equal side padding */
    font-size: 16px;
}

.search-btn {
    margin-left: 0;           
    cursor: pointer;
    background-color: red;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    border-radius: 3px;

}
input{
    width: 700px;
}

.form-group {
    margin: 0;                
}

h2{
    margin-top: 20px;
    margin-left: 250px;
    color:black;
    font-size: 30px;
}
.divider {
    height: 1.5px;             
    background-color: #E0DBDA;
    margin: 40px 0;   
    width: 850px;  
    margin-left: 250px;     
}

#result{
    margin-top: 10px;
    margin-left: 250px;
}


#result h3{
    font-size: 25px;
}

#result h4{
    font-size:16px;
}

#result p{
    margin-left: 0;
    margin-right: 300px;

}

 .error{
    color:red;
    font-weight: bold;
}
